[2015-05-26 08:00] ccheever opened #1 "Make exp work on Windows"
It should work on Windows, but it doesn't yet.

The main issue is `child_process.spawn`, which will need to be changed in `exp` itself, `pm2`, and also `watchman` doesn't work.
`ngrok` may also require some modifications.

[2015-05-26 08:24] ccheever commented on #1
@attilah suggested that this might help

http://danielpetisme.blogspot.hu/2015/01/fix-nodejs-spawingwindows.html

[2015-05-27 02:38] ccheever opened #2 "Allow developers to configure the application key in the AppRegistry for their apps"
Currently, Exponent always uses `'main'` as the key, but there are a number of reasons which you might want to use a different key.

The two biggest ones are if you have multiple apps using the same code, and if you are using an existing React Native project with Exponent and you don't want to (or can't) modify the code.

[2015-06-02 01:58] jlxw opened #3 "Can't install on linux"
I tried building from the iojs default docker image, log is here:

https://registry.hub.docker.com/u/jlxw/exp/build_id/64718/code/bep2wfnxnnss8rrqfr6rwpg/

[2015-06-02 02:14] jlxw commented on #3
I think the github issues can be resolved if we clone from https instead of ssh.

There is this error left for "git rev-list -n1 packager-root-fix":

npm ERR! git rev-list -n1 packager-root-fix: fatal: ambiguous argument 'packager-root-fix': unknown revision or path not in the working tree.
npm ERR! git rev-list -n1 packager-root-fix: Use '--' to separate paths from revisions, like this:
npm ERR!

[2015-06-02 04:23] ide commented on #3
The npm dependency is specified using npm's standard `<account>/<repo>#<branch>` syntax so you might want to try https://github.com/npm/npm/wiki/Troubleshooting#npm-only-uses-git-and-sshgit-urls-for-github-repos-breaking-proxies.

Just published a new version (0.7.2), which should fix the second issue.

[2015-06-02 04:54] jlxw commented on #3
Works now!
https://registry.hub.docker.com/u/jlxw/exp/build_id/64718/code/bnwxznvvdyftqgs4swrxtxv/

Did:
git config --global url."https://github.com/".insteadOf git@github.com:;\
git config --global url."https://".insteadOf git://;\
npm install -g exp

[2015-06-02 04:55] ide commented on #3
Glad to hear that and thanks for the follow-up.

[2015-06-02 04:55] #3 closed

[2015-06-02 16:33] ccheever opened #4 "When you open a URL in the app, it should trigger a reload"
This confuses people sometimes. I think the right behavior is that it should trigger a reload, esp. since this is mostly being used as a development tool now.

[2015-07-22 11:07] ccheever opened #5 "Unsolvable EMFILE: too many open files, open problem"
When trying to run `exp` on my sister's almost new MacBook Pro 13", I couldn't get `exp` to work because it would always give this error:

[code]

Some notes: I tried both iojs-v2.3.4 and iojs-v2.4.0 and they both yielded this result.

I set the ulimit very high which is what commonly seems to solve this problem, but it did not improve things.

[code]

I tried various methods of changing to ulimit

[2015-07-22 18:42] ide commented on #5
FD limits on OS X are confusing... IIRC there are three settings you need to change (ulimit being one of them). My conclusion was that it's untenable to ask everyone to increase their limits.

Maybe we could use graceful-fs. Not sure if it handles this specific case but is worth trying.

[2015-07-22 18:47] ccheever commented on #5
Unfortunately in this case it seems like graceful-fs was already in use
from the stack trace. I'll try to borrow Mary's computer again to
investigate further since the issue doesn't appear on my own machine.
On Wed, Jul 22, 2015 at 1:42 PM James Ide <notifications@github.com> wrote:

[2015-08-30 22:52] danielmeneses opened #6 "Not able to install exp on ubuntu 15.04!"
Hi,

i'm trying to install exp, but i got the bellow errors, after typing "sudo npm install -g exp":
<pre>
npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'ccheever/crayon' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'exp'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, fold

[2015-08-30 23:23] ide commented on #6
You need to use a modern version of Node. Can you try io.js 2.5.0?

[2015-08-30 23:38] danielmeneses commented on #6
Hi ide, thanks for the response,

so i did this:

$ nvm use iojs-v2.5.0
-> Now using io.js v2.5.0 (npm v2.13.2)

$ iojs -v
-> v2.5.0

$ node -v
-> v2.5.0

$ sudo npm i -g exp
->
<pre>
npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'exponent/simple-spinner' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'exp'
npm E

[2015-08-30 23:40] danielmeneses commented on #6
by the way:

$ npm -v
-> 2.13.2

[2015-08-30 23:41] ide commented on #6
Your npm logs say `node -v v0.10.25`. Maybe the problem is with sudo -- you should almost never use sudo with npm.

[2015-08-30 23:52] danielmeneses commented on #6
Yeap... your're right .. different versions between users, i've reclaimed ownership of npm commands and works ok!

thanks

[2015-08-31 00:04] #6 closed

[2015-09-16 17:36] gaearon commented on #5
I also have this problem trying to run `react-native-webpack-server` examples.

[code]

[2015-09-16 17:45] gaearon commented on #5
Updating Node to 4.0 fixed this for me.

[2015-09-16 17:48] ide commented on #5
@gaearon Try installing Watchman (or restarting it, if you already have it installed). That seemed to fix the EMFILE errors we encountered. I haven't tested without Watchman on Node 4.0 but did have the EMFILE issue on io.js 3.3, so I am a little surprised that upgrading Node fixed it. Charlie also made progress using Chokidar in the packager and that seems to have worked too.

[2015-09-16 17:53] gaearon commented on #5
I didn't know Watchman was a thing. Does it make watcher faster?

[2015-09-16 17:58] ide commented on #5
I'm not sure about speed, though I expect it to be usually as fast or faster than the Node file watcher because Watchman runs as a daemon. Also Watchman does a better job of watching a large number of files and FB uses it to watch their PHP+JS source tree so it certainly scales.

[2015-09-16 18:37] gaearon commented on #5
Confirming installing Watchman also fixed the issue on Node 2.

[2016-02-02 21:22] tomprogers opened #7 "Problem installing app on simulator: Error: Process exited with non-zero code: 69 (accepting Xcode license requires root access)"
This problem occurs when I click the "Install Exponent on Simulator" button in the Exponent GUI. The error is only visible in Electron's JS console. The simulator does not install, and I can't launch any apps. There is no other indication of a failure, not even in the console space where packaging status is reported.

Debugging reveals that the failure callback of `this._installAppInSimulatorAsync

[2016-02-02 21:29] ccheever commented on #7
Hi @tomprogers-

Thanks for the report! I agree with your assessment of the issue. Feel free to submit a PR and I'll review it or we'll fix this when we get a chance. Sorry you encountered trouble. :(

[2016-02-02 21:31] ccheever commented on #7
Added to trello

[2016-02-02 21:36] tomprogers commented on #7
NP @ccheever : if I can figure out how to do the appropriate logging, I'll submit a PR.

[2016-04-05 21:37] Swistaku opened #9 "[exp] Error: UserSettings.setAsync is not a function"
Hey guys, I've just tried out exp tool on linux and it seems it's not starting. It creates an dummy app and when I want to `exp start` it it hangs, and in logs we can see several errors:

[code]

also got this naming collision:

[code]

I am not sure if it's supposed to run on linux, but if you need someone who can test it (I'm just getting started with JS/React so I can offer a bit code help) I v

[2016-04-06 21:14] ccheever commented on #9
Hi-

I think it should be possible to make it run on Linux but we haven't tested it except on Mac, so there are probably a few things we need to debug before it will work smoothly. I'm not sure when we can get to this, but I'll make a task.

If you end up debugging anything, we'll happily accept patches in the meantime until we can get to it.

Thanks!

[2016-09-06 00:05] ide opened #10 "Hide PM2's Keymetrics ad, it's confusing people"
PM2 prints out an ad for the paid Keymetrics service, which isn't useful to any of our users. It's confusing since PM2 is an implementation detail to them, and `exp` runs locally, not on a server that needs to be monitored anyway.

Creating a marker file looks like the best way to hide the banner: https://github.com/Unitech/pm2/blob/master/lib/CLI.js#L69.

[2016-10-03 20:52] belohlavek opened #11 "Could not locate the bindings file"
Trying to start exp with `exp start` resulted into this:

<details>
<summary>

View error</summary>

[code]

</details>

Using Ubuntu (Linux subsystem for Windows 10)
Node version: 6.6.0
NPM version: 3.10.3

Any tips on what's going on?

[2016-10-03 22:57] ide commented on #11
It looks like the issue is specific to Windows https://github.com/node-ffi/node-ffi/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20windows. Can you try running `npm install ffi` and seeing if you get an installation error?

[2016-10-04 15:31] belohlavek commented on #11
Installed ffi and g++: same error

Should I open an issue on `node-ffi`'s repo? I still don't quite get what's going on 😆

[2016-10-04 21:38] ide commented on #11
Can you paste the error in a code block here? That will make it clearer whether this is something we can fix in `exp` or `node-ffi` or somewhere else.

[2016-10-05 17:15] belohlavek commented on #11
@ide Are you asking about the error I showed on the first comment, or do I need to get something else?

Here's the one on the first comment:

[code]

Please let me know if I need to do anything else, and thanks for the support 😄

[2016-10-05 17:22] belohlavek opened #12 "Packager returned unexpected code 500"
Hello! This time I'm trying to build a standalone app on Linux (Lubuntu 15.04), after running `exp build:android` and following the instructions in the docs, I get the following error:
[code]

Any tips about what's going on? Thanks in advance!

[2016-10-05 18:40] jesseruder commented on #12
Looks like your project isn't building. Was it working when you opened it on your phone?

[2016-10-05 18:50] belohlavek commented on #12
Yep, just tested again from XDE and it's working!

[2016-10-05 18:52] jesseruder commented on #12
Anything useful in `exp logs`?

[2016-10-05 19:07] belohlavek commented on #12
Found something!

[code]

Maybe something went wrong when I installed the dependencies?

[2016-10-05 19:14] jesseruder commented on #12
Might be easier to join our slack to figure this out https://slack.exponentjs.com. you sure the same project is working in xde?

[2016-10-05 19:15] jesseruder commented on #7
This should be fixed now.

[2016-10-05 19:15] #7 closed

[2016-10-05 19:35] belohlavek commented on #12
I * think * I'm sure. I'll triple check things anyways!
I'll close this issue since it's clearly my problem, and I'll join you guys on slack tomorrow (I can't today!)
Thanks for the help!

[2016-10-05 19:35] #12 closed

[2016-10-09 02:17] tjswk2008 opened #13 "'@ccheever/crayon' is not in the npm registry."

[2016-10-09 04:46] ide commented on #13
Are you using an alternative registry or old npm? It is here https://www.npmjs.com/package/@ccheever/crayon

[2016-10-09 04:46] #13 closed

[2016-10-09 18:09] kassyn opened #14 "How to deploy my app in stores for ios and android?"

[2016-10-09 18:25] ide commented on #14
Please refer to these docs https://docs.getexponent.com/versions/v10.0.0/guides/building-standalone-apps.html

[2016-10-09 18:29] kassyn commented on #14
Thanks 😃

[2016-10-14 07:03] krstffr opened #15 "exp start (and exp init) throws "SyntaxError: Unexpected token default""
Just installed the cli and tried to run `exp start` in a project which works fine on using the native Exponent XDE Mac app.

The error:

[code]

There is no `default` key/word/value whatever in the exp.json, so I suspect the error is related to javascript exports? Maybe some node version mismatch (I'm using 6.8.0)?

[2016-10-14 07:04] krstffr commented on #15
Oh, `exp init` throws the same error.

[2016-10-14 13:05] ccheever commented on #15
Hi @krstffr -- What version of `exp` did you install? and how did you install it?

[2016-10-14 15:42] harpsha commented on #15
@ccheever I'm facing the same error with exp v0.25.1

[2016-10-14 20:32] cameronbarker commented on #15
👍  having same issue with v0.25.1

[2016-10-14 21:29] jesseruder commented on #15
Sorry everyone, looking at this now.

[2016-10-14 22:05] ide commented on #15
One of our transitive dependencies of `exp` broke. Can you try reinstalling `exp` with `npm uninstall -g exp && npm install -g exp`? That should pull down the newest, fixed dependency.

[2016-10-15 00:37] cameronbarker commented on #15
@jesseruder @ide `exp start` is working for me after following the above directions.  Thanks guys

[2016-10-15 01:21] cameronbarker opened #16 "[exp] Unable to fetch new certificates"
Ran across this error when trying to run `exp build:ios`.

Find a note @skevy had in the #help channel in exponentsjs slack where he stated it was due to too many certificates in my apple developer account.  After removing those it fixed the issue and moved onto building the ios package.

Be happy to pass along a pull request with a more descriptive error if you guys wanted.  Not too familiar with

[2016-10-15 01:27] ide commented on #15
@cameronbarker thanks for verifying! We'll close this out.

[2016-10-15 01:27] #15 closed

[2016-10-17 08:34] krstffr opened #17 "exp build:ios fails when multi factor auth is enabled for Apple account"
When running `exp build:ios` using my Apple account which uses multi factor auth I get an error after inputting my Apple ID/Password/Team ID. I get the "Here's your 6 digit code!" popup on my mac, but the CLI hangs before I get a chance to enter it with the following error:

`[exp] Server error when validating credentials.`

Is multi factor auth not supported?

[2016-10-18 21:18] roberttod commented on #17
I had the exact same issue. Turning off 2FA resolved it for me.

[2016-10-19 05:29] krstffr commented on #17
@roberttod yeah I figured that was one way around it, though I wouldn't say it solved the problem really (but thanks for the suggestion/workaround!).

Using exponent shouldn't require me to degrade my apple account security.

[2016-10-19 08:53] ccheever commented on #17
hi @krstffr -- we want to fix this but it will take some time. it's nontrivial to do automated login around 2FA.

completely agree that you should not have to degrade your account security -- this is just a limitation of exponent for the time being.

[2016-10-19 09:01] krstffr commented on #17
@ccheever great, thanks! I totally understand that it's a nontrivial thing to implement. Looking forward to this feature in the future.

[2016-10-19 18:44] roberttod commented on #17
Thanks @ccheever. It would be good to add to the docs and/or the error message that for now 2FA is not supported.

[2016-10-20 09:21] ide commented on #17
@roberttod thanks for the suggestion, our docs now mention that 2FA isn't support yet (https://docs.getexponent.com/versions/v10.0.0/guides/building-standalone-apps.html#if-you-choose-to-build-for-ios)

[2016-10-25 06:14] jbaron opened #18 "Blank project fails"
When using "exp init" to create an new project and selecting the blank project template, there is an exception. The tabs project works fine.  exp version is 0.25.1 (latest npm version)

The stack trace is:

[exp] Downloading project files...
[exp] First argument must be an array
TypeError: First argument must be an array
    at module.exports (/usr/local/lib/node_modules/exp/node_modules/each-asyn

[2016-10-28 17:00] jbaron commented on #18
The new version of exponent seems to have fixed this, thanks.

[2016-10-28 17:00] #18 closed

[2016-11-02 15:44] jesseruder commented on #1
Fixed!

[2016-11-02 15:44] #1 closed

[2016-11-02 23:17] quincycs opened #19 "ReactWindows support"
Yay the XDE works on the Windows OS!

Now it would be nice if the universal windows platform flavor of react native would work with exponentjs.  Maybe at least limited support?

[2016-11-03 02:23] ide commented on #19
Hey Quincy, we're not planning to work on this yet though one day we'd like to support more platforms than Android & iOS. We see those platforms being our biggest audience by far though so we're putting all of our time towards Android & iOS and Exponent services to begin with. It'd be more work than we can commit to in order to do a good job on limited support for UWP, so it's not a project we can

[2016-11-03 02:23] #19 closed

[2016-11-03 02:26] quincycs commented on #19
Thx James!

[2016-11-10 12:26] aliklev opened #20 "bug in picker dropdown color - android"
Background  color of picker's popup dialog issue (always dark) and only in exponent container,
tested in 11.0.1 version
![untitled](https://cloud.githubusercontent.com/assets/16597961/20176666/80054112-a751-11e6-8054-3a80a9d91594.png)

[2016-11-10 14:57] #20 closed

[2016-12-07 08:15] krstffr opened #21 "Outdated lodash (and possibly gulp)"
When installing exp a warning is raised about using `lodash-node` instead of the `lodash` package. I thought I would fix this annoyance and submit a pull request, but running `npm run watch` I get the error `gulp.series is not a function`, and maybe it's something about the incorrect gulp version, but at that point I kind of gave up since it's probably easier for you guys with the proper gulp vers

[2016-12-10 01:25] harinij opened #22 "exp web does not work"
As per this page: http://www.reactnative.com/exponent-app-for-react-native-developers/

exp web --> command helps you run the an exponent app in the browser. However this command is not recognized as an option.

exp web
"web" is not an exp command. See "exp --help" for the full list of commands.

[2016-12-10 01:39] ide commented on #22
That article is quite old and outdated, we don't support "exp web" anymore. Since then we've added Android support so most people can run Exponent projects on real devices now.

[2016-12-10 01:39] #22 closed

[2016-12-10 03:57] harinij commented on #22
@ide Thanks for the reply. Is there any easy way to port a react native app build on exponent to web. Want to be able to view in on regular browser to publish as almost a react.js webpage. Or Anything that enable exp -> react native -> reactjs

[2016-12-10 04:03] nikki93 commented on #22
@harinin I think one way to do this is to share some code as libraries between a web page and an exponent app, but exponent itself doesn't provide a build tool for web things and I don't know if things that convert React Native apps to React DOM (for the web) would do a good job. You could use react-native-web to name components like `View` in your JSX and it would make `<div>` etc. underneath.

I

[2016-12-10 04:06] harinij commented on #22
@nikki93 Thanks! Will look into it. Would have been great if exponent had a build tool to make this transition easier.

[2016-12-10 04:09] nikki93 commented on #22
@harinij It would! :) But I think unfortunately the problem is out of the scope of just a build tool if you use APIs like Geolocation and embedded Camera view etc. which we are trying to focus on bringing to JS. So right now we are prioritizing native.

create-react-app is a great tool for making a web build that you could try: https://github.com/facebookincubator/create-react-app

[2016-12-20 23:14] #14 closed

[2016-12-20 23:15] dikaiosune commented on #16
These error messages have been overhauled now -- please let us know if you run into other uninformative ones though!

[2016-12-20 23:15] #16 closed

[2016-12-20 23:16] dikaiosune commented on #9
exp should work well on linux now. Please reopen if you're still having issues though.

[2016-12-20 23:16] #9 closed

[2016-12-20 23:17] dikaiosune commented on #5
This issue is rather old now, and I haven't seen anyone report this error in some time. Closing, but if we can repro please reopen.

[2016-12-20 23:17] #5 closed

[2016-12-20 23:19] dikaiosune commented on #10
I'm no longer seeing the ad on this fresh machine. Let me know if I just missed it somehow though.

[2016-12-20 23:19] #10 closed

[2016-12-20 23:20] dikaiosune commented on #4
Not sure this issue makes sense in the context of the current usage -- but if I'm wrong please let me know.

[2016-12-20 23:20] #4 closed

[2016-12-20 23:21] dikaiosune commented on #11
@belohlavek I don't currently have a windows machine to reproduce this -- can you let us now if this is still an issue for you?

[2016-12-20 23:23] dikaiosune commented on #21
Hey! Sorry for the delay and that you're having issues with our gulp setup. I'm working on a few things right now but will be circling back to make a bunch of `exp` improvements in the very near future. I'll leave this open as a reminder. If you still want to make contributions but are having issues with gulp, definitely drop by [our slack](https://slack.getexponent.com) and say hi!

[2016-12-21 07:25] krstffr commented on #21
@dikaiosune sure, cool!

[2016-12-21 16:03] belohlavek commented on #11
Just happened once and never got the error again, closing for now, thanks!

[2016-12-21 16:03] #11 closed

[2016-12-21 18:55] cameronbarker commented on #16
👍  @dikaiosune

[2016-12-29 19:09] greyarch opened #23 ""Cannot read property 'ids' of undefined" when trying to build for android"
I get this error when trying to do "exp build:android" on MacOS. Here is the full stack trace:

exp build:android
[exp] Checking if current build exists...

[exp] No currently active or previous builds for this project.
[exp] Starting build process...
[exp] Cannot read property 'ids' of undefined
TypeError: Cannot read property 'ids' of undefined
    at AndroidBuilder._callee4$ (/usr/local/lib/nod

[2016-12-29 21:38] dikaiosune commented on #23
Hi @greyarch -- thanks for the report. What's the output of running `exp --version` on your machine?

[2016-12-29 21:55] greyarch commented on #23
Hey @dikaiosune, this is what I get:
[code]
I only installed exp today

[2016-12-30 04:13] sebasgarcep opened #24 "Login: should remove -p option"
It is fundamentally unsafe as terminals are often logged by default. Having a -p option encourages unsafe behaviour.

[2016-12-30 10:11] Joshuabaker2 opened #25 "Building android apk fails"
- Running sdk 12.0.0
- Running in the simulator/emulator for both iOS and Android works.

However, when I run
`exp build:android`
I get the following output:

[code]

This also occurs if I upload my own keystore. I've tried uninstalling and reinstalling exp to no avail. Running Mac OS El Capitan.

[2016-12-30 10:17] Joshuabaker2 commented on #25
The issue here was a lack of reading the documentation - I neglected the first step, running `exp start`.

[2016-12-30 10:17] #25 closed

[2016-12-30 10:26] ccheever commented on #25
We should make that flow easier and clearer. Glad you resolved the issue.
CDC
On Fri, Dec 30, 2016 at 11:17 AM Josh Baker <notifications@github.com>
wrote:

[2016-12-30 21:02] dikaiosune commented on #24
Hi @sebasgarcep, thanks for the report. I think you're probably right here, and this has been on our radar for a little bit. We're currently working on overhauling a bunch of our authentication stuff, and I expect we'll be able to support a token-based environment variable instead of the CLI password flag soon.

We're hoping to have this in place sometime in January 2017, and I'll update this issu

[2016-12-31 14:22] greyarch commented on #23
I found what the problem was - apparently I've missed a config step and did not put the android package section in the exp.json file. Once I put something like
[code]
in the **exp.json** file the build started correctly.

[2016-12-31 17:12] dikaiosune commented on #23
@greyarch thanks for posting back! I'm so sorry I wasn't able to follow up on this earlier. We definitely need to improve this error message, so I'm going to reopen this issue as a reminder to work on this.

[2017-01-01 23:02] acornejo opened #26 "can't signup through cmd line"
[code]

[code]

In particular I found the following path a bit surprising:

/Users/Jesse/Exponent/newuniverse/universe/dev/exp/src/exp.js:47:10

This is not a mac (/Users doesn't exist), and there is no user named Jesse. May be an unrelated leftover from the machine where exponent was built.

[2017-01-02 18:44] dikaiosune commented on #26
@acornejo hi! Thanks for the report! It looks like you're running with Node 6.3.1, where we require at least the current LTS release for our tools. I believe the current LTS version is 6.9.1. Can you try upgrading and seeing if that resolves your issue?

Regarding the stray path from a Mac, this is an artifact of the current build process and how it handles sourcemaps. I believe we have a patch in

[2017-01-03 07:33] acornejo commented on #26
I tried with latest LTS (6.9.2), same results:

[code]

[2017-01-03 18:40] dikaiosune commented on #26
Quite right! I'll work on a fix for this. In the meantime, the node 7.2 series works for me to signup in exp, and you can still use XDE to create an account.

[2017-01-04 01:44] dikaiosune commented on #26
Hi! Sorry about the delay here. I've published v0.30.1 to npm which should resolve this issue. Could you try installing that and confirming it fixed things for you?

[2017-01-05 10:45] OFranke opened #27 "iOS build fails"
Hi,
I am trying to build my iOS app via exp build:ios

Heres what I do:

C:\TIB-IDE\App\io.booni.app>exp build:ios
[exp] Checking if current build exists...
[exp] No currently active or previous builds for this project.
[exp] Checking for existing Apple credentials...
[exp] Validating Apple credentials...
[exp] Credentials valid.

? Do you already have a distribution certificate you'd like us to u

[2017-01-11 19:42] OFranke commented on #27
Btw I am using an Company / Organization Entity Type Apple Account if that matters.
Don't know if it would work with a single user Apple Dev account

[2017-01-11 19:51] dikaiosune commented on #27
Hi! Sorry it's taken so long to reply here.

A few questions:

1) Is your Apple Developer Program subscription up to date (you can usually see this under the expiration date of the Membership tab)?
2) Have you tried running `exp build:ios -c` after you cleared the certificates?
3) On the Organization account, do you have permissions to create new certificates?

[2017-01-11 19:57] OFranke commented on #27
Hi! I'm glad to have you here :)

1. Yes, it will expire on 31th October 2017
2. Yep, I completely cleaned the Apple account. No Certificates, no App IDs and no Provisioning Profiles.
3. I am using the admin account, so I should have that. Actually when the CLI says "[exp] Generating distribution certificate..." it does create the Distribution Certificate on my account.

If possible I could invite

[2017-01-12 06:34] acornejo commented on #26
worked. thank you @dikaiosune!

closing.

[2017-01-12 06:34] #26 closed

[2017-01-12 08:20] OFranke opened #28 "Version 0.31.0 kills CLI on Windows"
Hi,

I just installed the latest version 0.31.0 on Windows. This is what I get:

[code]

Seems like all the commands are broken right now.

[2017-01-12 15:49] OFranke commented on #28
Fixed this by upgrading node and npm to the latest version.

[2017-01-12 15:49] #28 closed

[2017-01-13 19:40] dikaiosune commented on #27
Sorry for the delay, I've been tracking down potentially related issues with the iOS infrastructure. I think they've been resolved, could you try again please?

[2017-01-14 00:29] OFranke commented on #27
I just ran npm install -g exp to get the latest update.

Still no luck with this. But the Distribution Certificate is still created in my Apple Account.

Here's what I did:

[2017-01-14 01:26] dikaiosune commented on #27
@OFranke can you DM me on our slack with the name of your project and your exponent username? I'd like to check the logs for this. I'm `ap` on our community slack: http://slack.getexponent.com/

[2017-01-17 15:51] OFranke commented on #27
For anyone else: seems that this is an UTF-8 issue in the certificates name (stupid German umlauts ä,ö,ü).

[2017-01-17 21:39] dikaiosune commented on #27
@OFranke just to update you, I finished deploying a fix for this i18n issue. Sorry for the inconvenience! Can you try the build again?

[2017-01-20 00:59] dikaiosune commented on #27
Per a slack conversation, this issue was resolved and non-ASCII cert characters should now be supported.

[2017-01-20 00:59] #27 closed

[2017-01-25 21:22] pillowsoft opened #29 "Allow mono-repo workflow using getProjectRoots in config file"
We have react-native set up to develop as a mono-repo, using the config file (rn-fli.config.js) feature of the RN packager. We use the getProjectRoots part of the config like this:
[code]
this works great with RN and allows us to have a single shared node_modules folder and a single folder containing all our shared packages (i.e shared modules and multiple apps sharing those modules).

I attempted

[2017-01-25 22:12] dikaiosune commented on #29
Hi! I think this should already work. See https://docs.getexponent.com/versions/v12.0.0/guides/configuration.html#ignoreNodeModulesValidation and https://docs.getexponent.com/versions/v12.0.0/guides/configuration.html#nodeModulesPath. You can also specify your rn-cli.config.js in exp.json:

[code]

Let us know if that addresses your needs?

[2017-01-25 22:50] pillowsoft commented on #29
Sorry I missed those in the documentation. You must have read my mind. Thanks!  I just tried it and it gets me one step further. I.e. it gets me past the issues with the validation and then I get here:

[code]
 and then it just sits waiting for the packager to start.  If I run the exp log command, there are no errors.  Suggestions?

[2017-01-25 23:04] dikaiosune commented on #29
Can you paste your package.json dependencies? I'm a little worried by `Warning: Can't find react-native in package.json dependencies`.

[2017-01-25 23:56] pillowsoft commented on #29
My package.json did not have dependencies listed, since they're all in the mono-repo's node folder and the package.json for it. I just updated the package.json to this:

[code]

...alas, no change, other than getting rid of the warning about react-native.

[2017-01-25 23:57] dikaiosune commented on #29
Interesting. Exponent's tools generally look for an `index.js` file, rather than platform-specific entry points. Can you try renaming your iOS entry point to just `index.js`?

[2017-01-26 00:24] pillowsoft commented on #29
I tried that and no change. I figured the entry point in package.json was ignored when specified in the exp.json, like here:

[code]

[2017-01-26 00:25] pillowsoft commented on #29
I'm going to try to make a smaller example and put it in a repo for you to look at.

[2017-01-26 02:10] pillowsoft commented on #29
Git repo here: https://github.com/pillowsoft/exp-nodemodules-setting-test, to demo hang on wait for packager. Seems to have to do with the nodeModulesPath setting.

[2017-01-27 13:24] pillowsoft commented on #29
Alas, it turns out this was my mistake :-( My apologies!  The exp.json had rnCLiPath point to the rnCliConfigPath, i.e. not the packager path.  With that fixed, the packager no longer "hangs". It must not have been hanging before, but wherever you start the packager, it couldn't find it and did not report an error. You may want to add an error for this for folks like me who give it the wrong path.

[2017-01-27 13:24] #29 closed

[2017-01-27 22:04] dikaiosune commented on #29
Hi! Sorry I hadn't had a chance to try to reproduce this, but I'm glad that you were able to sort things out! I'll make a note that we aren't reporting the error here very well, thanks for the heads up!

[2017-01-27 23:39] pillowsoft commented on #29
No worries!  There is still an issue which seems broken with node_module resolution when **"nodeModulesPath"** is set.  The simplest way to demo is to create a new exponent project. Next, move the node_modules folder up one folder (i.e. the folder above the project).  Now add these lines to your exp.json:

[code]

per the documentation, this should work (?). The packager does run, but I get a red

[2017-01-27 23:43] pillowsoft commented on #29
FYI, I also tried:

[code]
as well as:

[code]

Both have the same effect.

[2017-01-30 16:39] OFranke opened #31 "Error Validating Apple Credentials"
Hi,

I just faced an issue building the iOS release .ipa file.

I've tried it with version 0.30.1 and also the latest version on Windows as well as on MacOS. Here's the log:

C:\TIB-IDE\App\my.cool.app>exp build:ios -c
[exp] Making sure project is set up correctly...
[exp] Your project looks good!
[exp] Checking if current build exists...

[exp] No currently active or previous builds for this proj

[2017-01-30 19:06] dikaiosune commented on #31
Hi! We had an issue with the networking to our iOS build machines this morning. I've just brought that service back online, and everything appears to be functioning. Can you give it another try?

Also, just a note that you should only need to build the IPA once for each "version" of your `exp.json` file. The newest version of your JavaScript will be pushed out to the client, unless you make change

[2017-01-31 08:03] Pourya8366 opened #32 "ERROR: Unexpected end of data : blank-2.0.1.tar"
when i run `exp init` after i choose blank, this error been shown:
[code]
and the setup been terminated!
how can i fix that?

i have windows 10 build 14393.693 64 bit
node version: 6.9.4

[2017-01-31 08:48] OFranke commented on #31
Hi Adam,
it all seems to work fine again!

Thanks for the info. I've had to do some changes in exp.json, thats why I had to create a new build.

Thanks for your help! :-)

[2017-01-31 08:48] #31 closed

[2017-01-31 19:56] dikaiosune commented on #32
Hi! Sorry to hear you're having problems getting started. Are you able to download this file manually?

https://s3.amazonaws.com/exp-starter-apps/blank-2.0.1.tar.gz

If you are able to download this and extract it, you should be able to run `exp start` directly in the directory it creates. If that still fails and you're behind a proxy of some kind, make sure the HTTP_PROXY and HTTPS_PROXY environm

[2017-02-03 21:14] AbeHerbert commented on #27
I'm still finding that there is an issue with build:ios

[2017-02-04 07:56] ide commented on #27
@AbeHerbert Can you provide the error log and verify that it's the same output as the original post's?

[2017-02-08 20:28] OFranke opened #33 "Environment-based build/publishing"
Hi,

I wonder if it would be possible to create builds and publish over the air updates according to the different environments I have.
Lets say I have 3 Environments:
Local: My local environment, running local Backend Api's and the Exponent App
Test: A remote test environment, where testusers will test new builds, connected to my test environment API
Production: the production environment, connec

[2017-02-09 18:46] jesseruder commented on #33
This all makes sense. We're planning on adding something like this within the next few months.

For now I'd suggest writing a short script that changes the `slug` field in exp.json before publishing. You could change slug to `YourApp-staging` or `YourApp-dev` right before calling `exp publish`

[2017-02-10 03:35] karinpang opened #34 "Unable to validate credentials: Internal error occurred"
Hi,

I want to build standalone apps and android is ok, but fail in building iOS. I am using version 32.3.0, and here is the log:

[exp] Making sure project is set up correctly...
[exp] Your project looks good!
[exp] Checking if current build exists...

[exp] No currently active or previous builds for this project.
[exp] Checking for existing Apple credentials...

We need your Apple ID/password to

[2017-02-10 08:57] karinpang commented on #34
Hi,

I remove an old certificate and choose exp to manage certificates, and finally build successfully:

[code]

But after that when I check back by 'exp build:status', the following displayed:

[code]

I've tested the apps through exponent client and do not find any errors. So I am not sure what's going wrong. Is there any method to check what's the problem? Since there are no further details to

[2017-02-10 20:01] dikaiosune commented on #34
Hi! Sorry about the delay in responding to this. Could you paste the contents of your package.json and exp.json files? If you'd prefer, you could also DM them to me on our community slack (slack.getexponent.com to register) -- my username there is `ap`.

[2017-02-11 01:48] karinpang commented on #34
Thanks for the reply. I may send you the file in next 2 days.

[2017-02-13 01:18] karinpang commented on #34
The required files sent through slack, please check and see if any problem, thanks.

[2017-02-15 08:56] yurivyatkin opened #35 "`npm test` throws "jest: not found" on example "tabs" project"
When I create a new project with either XDE "New Project"/"Tab Navigation" or with `exp init` choosing tabs option, running `npm test` fails with the following output:
[code]
An inspection shows that jest is actually present in the dependency tree:
[code]
I work on Ubuntu 16.04, Node v7.4.0, npm 4.0.5, exp 33.0.0, xde-2.15.0-x86_64

Everything else seems to be working fine (e.g. `exp start`, `exp

[2017-02-15 10:03] pangeacake commented on #35
Seems like jest needs to be installed globally for the shell command to be usable.

[2017-02-15 11:13] yurivyatkin commented on #35
@pangeacake nope

[2017-02-15 18:02] dikaiosune commented on #35
@pangeacake the template projects should work out of the box.

@yurivyatkin thanks for the report, I'll look at this today.

[2017-02-15 22:46] dikaiosune commented on #35
@yurivyatkin a fix for this is releasing in new template projects sometime today. The short version is that we were tarring the templates after they were installed with `--no-bin-links` to prevent broken symlinks after unpacking. This obviously prevented the jest binary from being available for `npm test`. We've updated the package.json to run the jest binary directly.

[2017-02-15 22:46] #35 closed

[2017-02-21 21:35] lyahdav opened #36 ""iOS: There was an error with this build. Please try again.""
I was following the directions [here](https://docs.getexponent.com/versions/v13.0.0/guides/building-standalone-apps.html#building-standalone-apps) to submit my Exponent app to the App Store and when I ran `exp build:status` I got the following output:

[code]

Here's the output from the `exp build:ios` command I ran before that:
[code]

Any ideas? I feel like when I first entered my Apple Team ID

[2017-02-21 21:47] dikaiosune commented on #36
@lyahdav did the build error when running `exp build:status` subsequently? Unfortunately we don't currently validate team IDs before running the build -- incorrect team IDs will error during the build.

You can clear the credentials by running `exp build:ios -c` once the previous build has failed. Note that you may need to revoke certificates in the developer portal b/c this may try to create more

[2017-02-22 02:33] lyahdav commented on #36
`exp build:ios -c` resolved it. Could you maybe add a note about this to the documentation if it will take a while to add the additional validation and error messaging?

[2017-02-27 05:02] #34 closed

[2017-03-05 05:18] ChenLi0830 commented on #17
I turned off the 2-step authentication. However, now every time I log in the website, security questions will be asked. I suspect that might be the reason why my exp build:ios failed.

[2017-03-06 01:57] lyahdav opened #37 ""Unable to find a specification" error after detaching project and installing pods"
I created a new Exponent project in XDE 2.15.1 on macOS 10.12.3. Then I ran `exp detach`. Then when running `pod install` it errors. Output:
[code]

[2017-03-06 02:38] lyahdav commented on #37
Turns out this wasn't an Exponent issue. My ruby environment was in a weird state where any gem I installed would give an SSL error, so cocoapods wasn't at the latest version. Output from gem a installation:
[code]
I had ruby installed via [RVM](https://rvm.io/). The fix was to run the following and then I could install the latest version of cocoapods:
[code]

[2017-03-06 02:38] #37 closed

[2017-03-12 14:00] ph3b commented on #31
Hi! I have been struggling with this for the last two days as well. Getting the exact same error with 2FA disabled on my Apple ID.

[2017-03-13 17:24] dikaiosune commented on #31
@ph3b I'm going to be online intermittently for the next couple of days, but please get in touch with me on our [community slack](https://slack.expo.io) (my username it `ap` there) so I can find out more about your failed build. We're working on improving this system but for now I need to manually check logs for your build to see what failed.

[2017-03-18 02:17] enkeli commented on #12
Might come in handy for someone having this issue too:
`react-native link`
on my project resolved the issue

[2017-03-18 02:41] ide commented on #12
`react-native link` might accidentally fix this issue but it's not the right fix. It sounds like there could be an issue with the packager. I'd recommend clearing your node_modules and re-installing (if you use Yarn this step is much more likely to be reliable), run `watchman watch-del-all`, and restart the packager (click Restart in XDE for example).

[2017-03-19 10:33] mostr opened #38 "Getting "API Response Error: Vault is sealed" while building for iOS"
I'm getting the following while building with `exp build:ios`
[code]
Tried with `-c` but with no luck - still the same. It's happening only today, it used to be fine yesterday (I was able to build and download an app).

[2017-03-19 15:36] mostr commented on #38
Closing, as it's already been fixed by @skevy and verified earlier today

[2017-03-19 15:36] #38 closed

[2017-03-20 18:29] alexprice91 opened #39 "Exp Publish Hangs on Codeship"
deployment script:
[code]
![screen shot 2017-03-18 at 12 43 33 am](https://cloud.githubusercontent.com/assets/4140149/24115395/34a1d696-0d71-11e7-9b37-ae199907bb7c.png)

Sometimes the script goes through, but the majority of the time it hangs. Also, it looks like the same script is working on travis builds.

[2017-03-20 18:35] brentvatne commented on #39
cc @jesseruder @dikaiosune

[2017-03-20 19:56] dikaiosune commented on #39
@alexprice91 is this app open source, and if so can you link to the codeship configuration you're using for it?

Also, is watchman installed as part of your build configuration?

[2017-03-21 03:32] alexprice91 commented on #39
The app is not open sourced. My configuration is pretty straight forward (I used the codeship UI to set it up.

set up:
[code]

deployment:
[code]

[2017-03-21 03:32] alexprice91 commented on #39
I'm not sure if watchman is installed or not...

[2017-03-21 03:33] alexprice91 commented on #39
If it is a requirement for the build, I would imagine it is installed, since the build periodically passes

[2017-03-22 00:08] JulianKingman opened #40 "[exp build:ios] Error parsing JSON file: /Users/Julian/.expo/state.json"
I get this error when I try to build for ios: ` Error parsing JSON file: /Users/Julian/.expo/state.json`

Ideas?

[2017-03-22 00:57] ide commented on #40
Can you email your state.json file to support@expo.io so we can have a look at it? (There's an account access token stored in it so please send it to us over a private channel.)

[2017-03-22 13:22] JulianKingman commented on #40
Sent.

[2017-03-22 13:26] JulianKingman commented on #40
Hm, no error anymore. Hope it helps anyway?

[2017-03-22 22:27] ide commented on #40
Thanks for sending it. Your state.json file looks OK to me (i.e. it's valid JSON) and this error shouldn't happen so we're looking at adding more error checking and logging in places where exp/XDE access state.json. In the meantime if you run into this issue, you can safely delete `~/.expo/state.json` and you'll have to log in again.

[2017-03-23 12:13] JulianKingman commented on #40
Good tip, thanks!

[2017-03-23 12:13] #40 closed

[2017-03-24 17:47] dikaiosune opened #41 "app.json used instead of expo.json"
See https://github.com/react-community/create-react-native-app/issues/114 for the actual error raised. The project has both app.json and expo.json, and having app.json used instead of expo.json is causing problems.

I think we may want to try to standardize on app.json? Or try merging the keys in both?

[2017-03-27 04:57] lyahdav opened #42 "Warnings in Xcode project after detaching"
After detaching using `exp` and running the project in Xcode I get several warnings.
Currently I'm on `exp` version 37.0.1 but I'm pretty sure I detached using an older version, though I don't remember which.

Here are the warnings:
[code]
![image](https://cloud.githubusercontent.com/assets/359157/24341452/a7c91524-126e-11e7-86f5-ba8b742ba215.png)

[2017-03-27 16:49] terribleben commented on #42
Hi there, thanks for the report. I think those warnings are expected right now.

Most of them are coming from vendored third-party code that we include in our SDK, and the remainder are related to eccentricities with objective-C and the way we sandbox Expo apps.

I don't think they will have any negative impact on your project, other than being mildly annoying. Feel free to re-open the issue if I'

[2017-03-27 16:49] #42 closed

[2017-03-28 23:20] JulianKingman opened #43 "I don't think exp is actually checking for existing builds"
I just ran two builds, pretty much one right after the other, and it didn't detect the prior build. Is something misconfigured, or does it mean something else when it says `[exp] No currently active or previous builds for this project.`? I assume it's checking version numbers and things.

[2017-04-01 03:11] antonybudianto opened #44 "APK build with permissions"
Hello,

I just tried to use `exp build:android` to get an APK and submit it to the store, but I got these warnings:
[code]

My app doesn't even use camera, access contact, or read phone state.
Can I somehow control the permissions?

Thanks!

[2017-04-01 04:20] ccheever commented on #44
Hi-

You'll have to detach/eject if you want to customize these things.

Here is some more info:
https://forums.expo.io/t/can-i-customize-which-permissions-are-asked-when-a-user-installs-my-standalone-app-from-the-play-store/160

Charlie

[2017-04-01 04:20] #44 closed

[2017-04-01 18:33] brentvatne commented on #39
@alexprice91 - it's not a requirement but it makes things a lot faster

[2017-04-03 17:55] #32 closed

[2017-04-03 17:56] skevy commented on #43
Hi there. Thanks for reporting this. We've been able to repro this issue in certain circumstances, and we have planned improvements to the standalone app builder infrastructure in the near future.

To be clear, this is a bug, and not something you've misconfigured.

[2017-04-05 12:08] flo-pereira commented on #27
same for me:

`
$ exp build:ios
[exp] Making sure project is set up correctly...
-[exp] Warning: Not using the Expo fork of react-native. See https://docs.expo.io/.
[exp] Your project looks good!
[exp] Checking if current build exists...

[exp] No currently active or previous builds for this project.
[exp] Checking for existing Apple credentials...

We need your Apple ID/password to manage certifi

[2017-04-05 15:15] Josecc opened #45 "[exp] Android: There was an error with this build. Please try again."
This is my first app with expo and it runs with the expo app. However, when I try to build it for android with exp build:adroid and check status I get the following message:

[code]

The output from exp build:android was the following:
[code]
Any idea what could be causing this error?

[2017-04-07 07:13] Josecc commented on #45
Here's the diagnostic command url: https://exp-xde-diagnostics.s3.amazonaws.com/josecc-e7a2e65d-ebfc-4185-9437-9f2b7ecbd444.tar.gz.

[2017-04-07 18:34] dikaiosune commented on #45
Hi! Sorry for the delay here (note that our [Slack](https://slack.expo.io) and [Forums](https://forums.expo.io) tend to be more active).

It looks like there may be an issue with the apostrophe in your app's name, can you try removing that and see if it works? It looks like there is a bug on our end with escaping these properly. We're working on a fix for this at the moment, but I think if you rem

[2017-04-10 09:46] Josecc commented on #45
@dikaiosune That solved it!! Thank you very much Adam!

[2017-04-10 09:46] #45 closed

[2017-04-11 21:45] clindsey opened #46 "remove DS_Store dotfiles from `exp init`"
It's weird to me that `DS_Store` files are included on a linux/ubuntu system, because those only come from mac's finder app.

I've attached a screenshot showing how I created a fresh project with `exp init` (version 39.0.0) and it has DS_Store files.

<img width="1201" alt="screen shot 2017-04-11 at 14 36 39" src="https://cloud.githubusercontent.com/assets/11408/24932205/48c8eec4-1ec5-11e7-8d62-33

[2017-04-13 18:44] JulianKingman opened #47 "Add option to remove/unpublish project"
I feel bad taking up server space with demo apps that I don't need, It would be handy if I could list and remove them if they were no longer needed.

[2017-04-13 21:48] ide commented on #47
The server space for an average bundle costs us less than half a penny a year, it's not an issue. If you would like to make a project not visible from your profile screen in the Expo client, republish it with `"privacy": "unlisted"` in your exp.json file (docs: https://docs.expo.io/versions/v15.0.0/guides/configuration.html#privacy).

[2017-04-13 21:48] #47 closed

[2017-04-16 12:49] JulianKingman opened #48 "[feature request] exp version *"
It would be handy to have a version incrementer like there is for npm, i.e. `npm version [patch/minor/major]`. Obviously not mission-critical, but I find my npm and exp versions getting out of sync. Ideally I could update both at the same time.

[2017-04-17 17:11] ccuilla opened #49 "[feature request] Ability to specify another JSON file when running/building"
Currently exp assumes `exp.json` as the config file. Would be nice to set this on teh command line with something like `--settings myconfig.json` to be able to have different confid for dev, stage, production or whatever reason.

[2017-04-18 02:59] ide commented on #48
I believe Expo will fall back to the version listed in package.json if the field is missing from exp.json, which sounds like it would do what you want.

[2017-04-18 18:05] ide commented on #49
Thanks for the suggestion. We don't have a settings flag for this right now but one thing you could try is to make several subdirectories in your project called dev, staging, etc... and in each create a barebones package.json (leave out the dependencies -- only run npm/Yarn in the main parent dir) and exp.json. Then open one of those new subdirectories with exp/XDE and it should apply the subdir's

[2017-04-19 13:00] JulianKingman commented on #48
Nice, that's perfect :)

[2017-04-19 13:02] #48 closed

[2017-04-20 05:08] softnodelabs opened #50 "Cannot create project with exp init"
Hi,

I upgraded my exp version but now when I use "exp init" it asks for project type first and then it exits with the error message:
"(node:8500) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Path must be a string. Received undefined (node:8500) DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are

[2017-04-20 06:59] 7ynk3r opened #51 "Expo.Google.logInAsync error 12501 for release"
I'm getting an error trying to authenticate with Google using my Android standalone app.

The error message is the following:
[code]
I'm using
[code]

All other configurations work, except Android standalone.

I followed the steps for https://docs.expo.io/versions/v15.0.0/sdk/google.html this in my current app and in a fresh new one as well, obtaning the same result.

Some people is fixing the pro

[2017-04-20 13:05] JulianKingman opened #52 "[feature request] exp url, option to get public URL"
Currently, `exp url` get's the local url, it would be great if there was an option to get the public one (e.g. `exp url --public`). I did a presentation using expo recently, and if I had had this feature, I could have published it and gave everyone in attendance a permanently accessible link. Same goes for group testing.

[2017-04-20 17:25] dikaiosune commented on #52
I agree this would be nice to have. In the meantime, you should see the URL you get when you run `exp publish`.

[2017-04-20 17:44] jesseruder commented on #50
Hi! Sorry about that. This should be fixed in version 40.0.2.

[2017-04-21 17:19] fbarrailla opened #53 "Error when detaching a project"
I'm getting an error when I try to detach an expo project with `exp` v40.0.2

[code]

I'm using MacOS Sierra (10.12)

[2017-04-21 17:25] terribleben commented on #53
Does this prevent your project from working? It should be harmless. If it's blocking you, maybe just try discarding local changes and detaching again.

[2017-04-21 17:33] fbarrailla commented on #53
Thank you for your answer. Yes it prevents the detaching to be done, what changes should I discard ?

[2017-04-21 17:52] terribleben commented on #53
We looked into this a bit more, and we think the issue may happen if there is another process doing work inside the same folder while detach is happening. For example, if you have Dropbox sync enabled in this folder, I recommend temporarily turning it off.

By "discard local changes" I meant if you are using version control, just go back to whatever state you were in before you ran `exp detach`.

[2017-04-22 11:55] fbarrailla commented on #53
I tried again and it worked fine 💯. I wasn't able to reproduce the problem, I tried with the project folder open in Atom. Thank you.

[2017-04-22 15:34] michaltaberski commented on #36
Hmm...

I got the same error message.

`exp build:ios` went just fine and by the end of its output I have message:

[code]

however after I run `exp build:status` I am getting: (there is some time when the build is in progress, but sooner or later it fails).

[code]

Is there somewhere some detailed stacktrace, or how can I know whats the issue?

Thanks

[2017-04-23 14:40] softnodelabs commented on #50
Thanks. I Updated to the latest version and it works as it should.

[2017-04-23 14:40] #50 closed

[2017-04-23 15:48] #53 closed

[2017-04-23 16:14] humbertocruz opened #54 "change android credentials / keystore"
Hello,

I need to publish severam apps with the "same" base code. I can't find a way to change the keystore for each one. Just the first time I built it.

how can I change it for each app I build ?
thanks

[2017-04-23 16:16] humbertocruz commented on #54
- [ ] found.. I forgot to change the "slug" on exp.json. thanks

[2017-04-23 16:16] #54 closed

[2017-04-24 22:15] jesseruder commented on #46
Fixed!

[2017-04-24 22:15] #46 closed

[2017-04-24 22:27] janicduplessis commented on #51
Are you passing `androidClientId` to `logInAsync`? It needs to be a web client id (I know it's weird).

[2017-04-24 22:59] dikaiosune commented on #36
@michaltaberski can you try again? I believe there was an issue with the iOS builders that has since been resolved.

[2017-04-25 05:33] michaltaberski commented on #36
@dikaiosune Yes, I can confirm. Now the build works well. Thanks a lot.

[2017-04-25 10:38] 7ynk3r commented on #51
Hi @janicduplessis,

Yes, I'm passing `androidClientId`, and `androidStandaloneAppClientId` as well for release. The only scenario that doesn't work is `androidStandaloneAppClientId`.

If I use a web client id for `androidStandaloneAppClientId`, do I have to provide `Authorized JavaScript origins` and `Authorized JavaScript origins`?

I'm still debugging the issue. I'm trying to get OAuth to work

[2017-04-25 12:27] myguidingstar opened #55 "Can't start development server"
I tried `expo start` but I couldn't open it with my phone's expo client.
The output looks normal:
[code]
Opening the url with browsers I got this:
[code]
It's the blank project generated by `expo init` with no modifications. `expo doctor` show no errors
Diagnostics url https://exp-xde-diagnostics.s3.amazonaws.com/myguidingexpo-eed09bc8-2ab8-49db-a9f1-0cf7ae8e2e5a.tar.gz

[2017-04-25 15:52] myguidingstar commented on #55
It works with "--offline" argument

[2017-04-25 15:52] #55 closed

[2017-04-25 21:52] JulianKingman commented on #52
Yep, but no QR code.

[2017-04-26 03:47] 7ynk3r commented on #51
Found the solution, after so much time spent.

`behavior` only works with `web`, and not with the default value `system`.

It's easy to reproduce, just follow the steps to configure a standalone android app. You'll see that only works for `behavior` equals `web`.

The documentation should be changed to reflect this fact.

Cheers,
JM

[2017-04-27 07:25] ShaneXie commented on #55
run into same problem, solved the problem by changing `"urlRandomness": null` to `"urlRandomness": "2v-w3z"` in `.expo/settings.json
dont know why tho.

[2017-04-27 18:46] expjess opened #56 "o hai issue template!"
We're looking to keep questions on our forums and bug reports on our main Expo repo -- please choose whichever you feel is more appropriate for your issue:

* Post in our community forums (log in with your Expo developer account): https://forums.expo.io/c/help
* Open an issue on our Expo repo: https://github.com/expo/expo/issues/new

Thanks for reporting the issue you found with exp!

[2017-04-27 18:48] #56 closed

[2017-05-05 00:51] andrewkmin commented on #31
Bump. running into the same issue now.

[2017-05-09 01:18] brentvatne commented on #49
moving this to https://github.com/expo/expo/issues/134

[2017-05-09 01:18] #49 closed

[2017-05-09 01:19] brentvatne commented on #51
Moved to https://github.com/expo/expo/issues/69 to consolidate issues

[2017-05-09 01:19] #51 closed

[2017-05-09 01:21] brentvatne commented on #41
Moved to https://github.com/expo/expo/issues/170

[2017-05-09 01:21] #41 closed

[2017-05-09 01:22] #39 closed

[2017-05-09 01:22] #36 closed

[2017-05-09 01:22] brentvatne commented on #33
Tracking this in https://github.com/expo/expo/issues/134

[2017-05-09 01:22] #33 closed

[2017-05-09 01:22] #21 closed

[2017-05-09 01:23] brentvatne commented on #23
moved to https://github.com/expo/expo/issues/171

[2017-05-09 01:23] #23 closed

[2017-05-09 01:24] brentvatne commented on #43
moving discussion to https://github.com/expo/expo/issues/171

[2017-05-09 01:24] #43 closed

[2017-05-09 01:24] brentvatne commented on #17
this is being tracked on https://github.com/expo/expo/issues/160

[2017-05-09 01:24] #17 closed

[2017-05-09 01:24] #2 closed

[2017-05-09 01:26] brentvatne commented on #24
tracking in https://github.com/expo/expo/issues/172

[2017-05-09 01:26] #24 closed

[2017-05-09 01:29] brentvatne commented on #52
feel free to send a PR for this! closing this issue as we're moving issues over to expo/expo

[2017-05-09 01:29] #52 closed

[2017-05-09 11:06] laurent22 commented on #35
I had the same problem and solved it with installing jest with sudo: `sudo npm install --save-dev jest`
It's possible it's some config problem with my npm setup, but anyway it works now.

[2017-05-17 12:25] zorrobiwan opened #57 "Error while generating push notification certificate"
Hi,

trying to build IAP for my app but got the following error message.
Credentials are ok for the distribution certificate but not for the push notification one.
My Apple Dev account is ok and I don't have any certificate on it.

Could you help ? Thx

[code]

[2017-05-21 13:42] dikaiosune commented on #57
Closing this as we've been talking on slack about the specific issue.

[2017-05-21 13:42] #57 closed

[2017-05-22 11:51] ahmed-wagdi commented on #57
So what exactly is the solution to this issue? Would be helpful if you actually gave us info as to what the problem was instead of just closing the issue.

[2017-05-22 11:53] zorrobiwan commented on #57
I'll give the solution here but unfortunately, it's not yet solved.

[2017-05-22 13:30] zorrobiwan commented on #57
Send by Adam:
hi, i'm seeing this error in the logs for you:

[code]

But my account is Agent in my team

[2017-05-22 13:53] zorrobiwan commented on #57
My account settings

![image](https://cloud.githubusercontent.com/assets/2226019/26312071/b369960a-3f06-11e7-9e62-0590f62a562f.png)

[2017-05-22 14:27] ahmed-wagdi commented on #57
My role in the team is Admin so i don't think it's related to that.

[2017-05-22 15:05] zorrobiwan commented on #57
So `bundleIdentifier` should be unique in exp.json ... and I don't have to copy/paste the example code :)
#SoStupid

Thanks Adam !

[2017-05-25 10:56] gmp26 commented on #40
It may be a coincidence, but I see this error after saving local state in the IOS simulator. (I'm using glittershark.core-async-storage set-item from cljs).

[2017-05-26 01:26] rrecuero commented on #36
I get the same error as @michaltaberski. Is this happening again? A regression?

[2017-05-26 05:58] michaltaberski commented on #36
@rrecuero I don't think it's regression. The problem is that expo does not provided a detailed error logs, so you don't know what is exactly the problem. There might be a bunch of different reasons. Best way to handle that is to visit expo channel on slack.

[2017-05-31 16:23] brentvatne commented on #36
@dikaiosune is working hard on improving the build process, but as @michaltaberski said, feel free to join our Slack (slack.expo.io) and ping us to look into the issue for you if you have any problems!

[2017-06-05 12:38] joshyhargreaves commented on #29
Just a word of warning to those wishing to set the RN Packager routes through `getProjectRoutes` in a a config file such as `rn-cli.config.js`, the routes returned by `getProjectRoutes` are not respected by the packager, it would seem, unless you explicitly set the `packagerOpts` option, `projectRoots` to an empty string.
So like so:

[code]
That is a bit of a curveball! ¯\\\_(ツ)\_/¯

[2017-06-14 12:16] Nicksapp opened #58 "npm Error: Not Found: @ccheever/inquirer@^0.9.5"
At the first step: `npm install -g exp` .
When I'm trying to install exp like that, npm throw `npm ERR! 404 Not Found: @ccheever/inquirer@0.9.5`,how to solve it?(My npm is in latest version)

[2017-06-14 18:49] ccheever commented on #58
What version of `npm` are you using? It sounds like 5? Maybe try npm4
instead of npm5.
That package does live on npm and I was able to just successfully install
it.
Or maybe just try again? Maybe npm's servers had a hiccup.

On Wed, Jun 14, 2017 at 5:16 AM, Nick Chang <notifications@github.com>
wrote:

[2017-06-22 18:32] btk commented on #45
As I experienced `&` is also no go for app name. Thank you @dikaiosune

[2017-06-27 10:01] martin-rueegg commented on #21
Hi,
I still get

[code]

Can the [dependency](https://github.com/expo/exp/blob/a864f353b54ab0b94e4e2eff5e0a32e356d2e4da/package.json#L74) be updated or would it break the code?

Thanks,
Martin.

[2017-06-28 11:17] bserem opened #59 "Installation fails at ngrok"
I am trying expo for the past few days, and today I read about exp and tried to install it.
I am using Debian linux (testing), with npm v5.0.4

At the installation I am getting the following output:

[code]

I've updated the ngrok issue queue too here: https://github.com/inconshreveable/ngrok/issues/429
but I am also posting this here so that you guys get aware of it.

[2017-06-28 17:23] dikaiosune commented on #58
Hi! As requested in the issue template please open issues against https://github.com/expo/expo. As @ccheever mentioned it sounds like this was either an issue with npm 5 or with a temporary network problem on npm's end. If you're still having issues with this please open a new issue at expo/expo. Thanks!

[2017-06-28 17:23] #58 closed

[2017-06-28 17:24] dikaiosune commented on #59
Hi! As requested in the issue template, please open issues against https://github.com/expo/expo. Thanks!

Also note that npm 5 isn't currently supported with Expo, there are several open bugs with npm 5 that prevent it from working on Expo and React Native projects.

[2017-06-28 17:24] #59 closed

[2017-07-03 21:16] dikaiosune commented on #45
Hey everyone! I deployed a fix for the unescaped ampersands, quotes, apostrophes, etc. Let us know if you run into any issues!

[2017-07-05 03:52] leo108 opened #60 "Add option to detach only iOS or Android"
In some cases, we may only need to detach one platform's code, e.g.  https://github.com/expo/expo/issues/317

[2017-07-05 09:04] atinder opened #61 "Non interactive login not working"
exp login -u myUsername -p myPassword

throws

[code]
Interactive login works with the same username and password.

[2017-07-05 20:46] dikaiosune commented on #61
Hi! As requested in the issue template, please open issues on the central Expo repository: https://github.com/expo/expo. Thanks!

[2017-07-05 20:46] #61 closed

[2017-07-05 20:47] dikaiosune commented on #60
Hi! This seems like a great idea. Can you please open a feature request on https://expo.canny.io? Also note for future reference that github issues should be filed against https://github.com/expo/expo, as requested in the issue template. Thanks!

[2017-07-05 20:47] #60 closed

[2017-07-11 01:00] EzioKissshot commented on #58
@Nicksapp Hi, I have the same problem in China too. After that I use another npm source, then it works.

I use
`npm install -g exp --registry=https://registry.npm.taobao.org`

Maybe you can try it.

[2017-07-17 11:57] digitalmaster commented on #27
I'm also seeing this same error.. it worked fine yesterday.
[code]

[2017-07-17 14:32] nicholasdickey commented on #27
I see this error too. This is my first attempt at ios build:
sudo exp build:ios -c
[exp] Making sure project is set up correctly...
-[exp] Warning: 'react-native' peer depencency missing. Run `npm ls` in /home/nick/root/qwiket to see full warning.
[exp]
[exp] If there is an issue running your project, please run `npm install` in /home/nick/root/qwiket and restart.
[exp] Your project looks good!
[e

[2017-07-17 19:06] dikaiosune commented on #27
@nicholasdickey hi! Sorry about that. One of our builders ran out of disk space. It's been cleared, and I'm working on a fix for the bug that caused it to fill up. Can you try again?

@digitalmaster can you paste your request ID? It's easiest to find in the logs if we have that.

[2017-07-18 01:31] digitalmaster commented on #27
@dikaiosune just tried it again and it's working now.. no validation error so no ID this time.. If it happens again i'll post with ID.. Thanks

[2017-07-18 02:06] digitalmaster commented on #27
@dikaiosune Woops.. happening again although slightly different error.. Instead of "unable to validate" -> "unable to fetch":

[code]

[2017-07-20 00:50] rubensbarreto commented on #59
Managed to get it working by using yarn instead of npm:
yarn global add exp

[2017-07-20 14:20] simison commented on #44
For anyone who ends up here, seems like this might be available soon:

https://expo.canny.io/feature-requests/p/customize-android-permissions

[2017-07-22 22:53] javidjamae commented on #36
Same issue here. No logs / messages describing the error makes it really hard to know why it failed.

[2017-07-24 19:23] brentvatne commented on #21
we updated this and it will be included in the next release so the warning will go away

[2017-07-24 19:23] brentvatne commented on #36
@javidjamae - we are working on it, ping us on slack when you run into issues and we will look into them asap

[2017-07-29 18:16] Swolebrain opened #62 "Exp build:ios fails to validate credentials"
Trying to build an app that was working fine before, getting the following error:

`Unable to validate credentials. Request ID 28ef4340-7489-11e7-8971-9bc938555952, message: Internal error occurred. Please try again in a few minutes or contact support.
`

Went on the developer site and revoked all the certificates i had, still nothing. What can I do?

[2017-07-29 23:44] Swolebrain commented on #62
I just had to wait a while apparently, servers busy or something.

[2017-08-01 10:18] oliverbenns commented on #33
I wrote a bash script to handle this: https://github.com/oliverbenns/expo-deploy

[2017-08-01 10:19] oliverbenns commented on #49
I wrote a bash script to handle this: https://github.com/oliverbenns/expo-deploy

[2017-08-03 21:20] dikaiosune commented on #62
Hi! Sorry we missed this. As the issue template suggests, we only monitor expo/expo regularly. Sounds like you got this sorted out, please open an issue on https://github.com/expo/expo if you hit issues again!

[2017-08-03 21:20] #62 closed

[2017-08-10 19:53] JoeRoddy commented on #27
For other dummies like me, you can revoke your certificates here:
https://developer.apple.com/account/ios/certificate/

[2017-08-13 17:17] jackrobson commented on #27
Tried exp build:ios -c

For the following output:
`We need your Apple ID/password to manage certificates and provisioning profiles from your Apple Developer account.
? What's your Apple ID? EMAILADDRESS@HIDDEN.com
? Password? ***************
? What is your Apple Team ID (you can find that on this page: https://developer.
apple.com/account/#/membership)? MYIDWASHERE
[exp] Validating Apple credentia

[2017-08-13 17:26] jackrobson commented on #27
Update:
I think my problem was due to having too many different defunct App IDs found at https://developer.apple.com/account/ios/identifier/bundle

Problem solved! :)

[2017-08-19 17:20] jpca999 opened #63 "how do i make the expo open the simulator automatically after this ( pic below ) ?"
<img width="541" alt="screen shot 2017-08-19 at 1 19 40 pm" src="https://user-images.githubusercontent.com/1026325/29488850-1985617e-84e1-11e7-9375-03a08121428b.png">

We're looking to keep questions on our forums and bug reports on our main Expo repo -- please choose whichever you feel is more appropriate for your issue:

* Post in our community forums (log in with your Expo developer account): h

[2017-08-19 17:22] jpca999 commented on #63
exp start --ios

[2017-08-19 17:22] #63 closed

[2017-08-20 16:59] davidroman0O commented on #36
@brentvatne Same thing, i tried -c many times! And did the process for the p12 multiple times too...
I really don't know how to resolve this!
Build ID: 105545ae-0117-426f-a181-9664adfdd112

If you have any informations to resolve this issue, could be great! :p

[2017-08-20 18:48] ide commented on #36
We can look into this for you tomorrow. Currently our standalone app builders are best supported Mon-Fri Pacific time.

[2017-08-21 14:46] francocorreasosa commented on #36
I have a build error too on Android after I added Google Maps API keys in the `app.json` file. No error details are provided by expo.

[2017-08-22 12:16] doc-phily opened #64 "Unable to fetch push certificate. Request ID [...], message: Internal error occurred. Please try again in a few minutes or contact support"
I keep getting this error while trying to generate ios standalone app. I've tried clearing my credentials several times using `exp build:ios -c` and I've tried deleting the iOS distribution certificate generated in the previous build attempts from my apple developer account.

[2017-08-22 16:04] franckmaurin commented on #27
Same error here. I deleted all my certificates and this again.
[code]

[2017-08-22 16:06] franckmaurin commented on #64
Same error here. I revoked all my certificates and this again.

[code]

[2017-08-22 19:18] dikaiosune commented on #36
@davidroman0O it looks like your p12 file isn't validating correctly: `pkcs12: expected exactly two safe bags in the PFX PDU`. Make sure you're exporting a p12 that includes exactly the public cert and private key. It's usually much easier to let us make the certs for you.

@francocorreasosa can you post in our forums with your build ID? forums.expo.io

[2017-08-22 21:30] dikaiosune commented on #64
@doc-phily as requested in the issue template, please open issues against https://github.com/expo/expo. Also make sure to provide your request/build IDs for us to troubleshoot.

@franckmaurin it looks like this was due to a temporary issue on our build machines, can you try again?

[2017-08-22 21:30] #64 closed

[2017-08-22 21:34] franckmaurin commented on #64
@dikaiosune Yep, it works now. Thanks.

[2017-08-27 17:20] gopidon commented on #27
Hey I am getting this error:

Validating Apple credentials...
[exp] Error validating credentials. You may need to clear them (with `-c`) and try again.
[exp] Unable to validate credentials. Request ID db9e1d30-8b4b-11e7-8d18-2d1d703ec004, message: Internal error occurred. Please try again in a few minutes or contact support.

Any pointers?

[2017-08-27 21:27] nicholasdickey commented on #27
same here. Build is not working error validating credentials.

[2017-08-27 23:54] gopidon commented on #27
Okay, some progress.. the build is getting submitted but no build ID generated.

[exp] Your project looks good!
[exp] Checking if current build exists...

[exp] ============
[exp] Build Status
[exp] ============

[exp] iOS: There was an error with this build.

When requesting support, please provide this build ID:

**undefined**

[2017-08-28 05:41] gopidon commented on #27
its working now I guess

[2017-08-29 11:18] ablankenship10 commented on #5
I am having this issue now with the latest XDE, react-native, and nodejs.

Any reason the files are not closed after opening?

[2017-08-29 21:59] jpca999 opened #65 "Unable to fetch distribution certificate. Unable to add new certificate to your account (maximum number reached)."
![image](https://user-images.githubusercontent.com/1026325/29846162-aad527ea-8ce3-11e7-9f3b-5e364498ab1e.png)
Here's the command that I used to create the ios build

$   exp build:ios -c

Q: Does expo provides some UI where I can do and edit the certificates ?

[2017-08-29 22:36] dikaiosune commented on #65
Hi! Please refer to the issue template, we don't normally monitor this repository. The Apple developer portal provides UI for revoking your certificates.

[2017-08-29 22:36] #65 closed

[2017-08-30 01:34] leimd commented on #39
hi @alexprice91,

I'm running into the same problem, I am wondering was this ever resolved? what was the solution?

Thanks,

Tom

[2017-08-30 07:58] pavinod commented on #36
I am getting the same error too! I am trying to publish my app to the App store. My build ID is 07d42ef5-8f79-4495-a618-a6d43b454d56
Hope someone can help! Thanks

[2017-08-30 13:37] francocorreasosa commented on #36
@dikaiosune My problem was solved _auto-magically™_. thanks anyways.

[2017-09-01 12:17] dshaw002 commented on #36
Any idea when you'll provide build error feedback on the CLI?

I'm having a problem and checking with slack.. my build ID is: 0202efa2-9f50-4685-95c0-f9389ef90317

If anything I'll copy my work into a regular RN project. I thought with 0 issues a project wouldn't have these type of problems.

[2017-09-04 09:39] mstmustisnt opened #66 "Error starting tunnel: Error: Error: failed to start tunnel while building"
Hi,
Getting this error while building android app:
[code]

But the build process is successful, apk is created but corrupt.

*Is this error critical?*

 Build ID: e86994ae-fce2-4f36-bd2c-9cffdec97d79

[2017-09-04 22:48] varakal opened #67 "[exp] Android: There was an error with this build."
Hey, this is my first time building an android application through exp. The app runs fine on expo but there is no stacktrace for the build fail. Could you assist me with the issue.

[exp] Checking if current build exists...

[exp] No currently active or previous builds for this project.
[exp] Starting build process...
[exp] Publishing...
[exp] Building iOS bundle
[exp] Building Android bundle
[exp

[2017-09-05 00:28] ide commented on #67
Hi, it looks like our builder had trouble parsing your icon, our logs say `Error: Invalid URI "e:/ills%0Dupee-512.png"`. Could you please (a) verify that your app.json is encoded with UTF-8, and (b) also try using a relative path for your icon? You also should be able to use forward slashes in the path.

[2017-09-05 01:17] varakal commented on #67
@ide : Thanks for the update. Was able to successfully build the project.

[2017-09-05 01:18] #67 closed

[2017-09-05 05:24] milad1367 opened #68 "[exp] connect ETIMEDOUT 35.184.55.1:443"
i have problems with build production apk for android and ios .

[code]

[2017-09-05 19:23] jakeols commented on #27
Hey everyone - having this issue as well. I tried waiting + revoking any certificates in my account, etc. , request ID is aa1bb590-926e-11e7-9306-699932aad8e4 .

[2017-09-05 19:54] dikaiosune commented on #68
Hi! Please open issues against https://github.com/expo/expo, per the issue template.

It looks like this is a problem with your internet connection -- make sure you can reach other websites?

Giving this a close, please reopen on expo/expo if you're still having problems.

[2017-09-05 19:54] #68 closed

[2017-09-05 19:57] dikaiosune commented on #27
@jakeols it looks like this might have been a temporary issue, but we're seeing `Could not find app with bundle id 'com.jakeols.status' ` from fastlane.

[2017-09-05 20:49] EJohnF commented on #27
hi!
The same problem as above
[exp] Error validating credentials. You may need to clear them (with `-c`) and try again.
[exp] Unable to validate credentials. Request ID 91781c10-927b-11e7-936b-9d8f349dfd92, message: Internal error occurred. Please try again in a few minutes or contact support.

[2017-09-05 21:32] dikaiosune commented on #27
@EJohnF we don't have an integration with bitrise, sorry. It looks like your error was from a temporary outage on apple's servers.

[2017-09-05 21:37] jakeols commented on #27
@dikaiosune Thanks for the reply- I'm still experiencing this issue but am seeing the certs generated through my developer console. Is there anything else that I should be doing?

[2017-09-05 21:40] dikaiosune commented on #27
@jakeols are you sure that bundle identifier is available?

[2017-09-05 21:43] jakeols commented on #27
@dikaiosune That was it actually- thanks! Didn't realize that identifier was used.

[2017-09-13 10:47] kishorejethava commented on #43
Getting same message!!
`[exp] No currently active or previous builds for this project.`
Any Solution?

[2017-09-13 13:21] ranahyder87 commented on #34
Please post here if you find the solution, Thanks.

[2017-09-18 15:07] divyaksh-shukla opened #69 "exp init unexpected EOF"
*$ sudo exp init*
? Choose a project name: first-project
? Choose a template type: blank
[exp] Downloading project files...
[exp] Extracting project files...

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now
Process exited with non-zero code: 2

*$ exp --version*
44.0.0

*$ yarn --version*
1.0.2

*$ watchma

[2017-09-22 03:59] gardner commented on #34
This is blocking.

[code]

Is there any way to get more information about what is happening?

[code]

Thanks!

[2017-09-22 04:57] ranahyder87 commented on #34
I faced this problem for 2 days. Then suddenly it works without any change or hurdle.
I read from somewhere that they got server space problem that's why "internal error" happens. Don't know about much.

[2017-09-24 11:16] onrige opened #70 "Build in progress..."
Hey. I'm using the last version of exp and yesterday I started to build ios simulator app. So..after a day I still receiving this output from `exp build:status`:
[code]
I'm also can't start another one because of this:
[code]
`exp build:ios -t simulator -c` doesn't do the trick too.

Any help?

UPD: After a few days it's finished. Thanks for help, guys.

[2017-09-24 22:28] gardner commented on #34
Free, unsupported, and non-deterministic can be difficult to rely on for real world use.

I appreciate that the team is not making money off expo and that it is free. Can we host our own build service? Is the recommended way to do this to eject?

[2017-09-25 00:25] dikaiosune commented on #34
@gardner, sorry to hear you're having problems. We don't actively monitor this repo's issues anymore (see issue template), but if you paste your info on the forums I can make sure someone helps you tomorrow morning.

In the Readme of https://github.com/expo/expo there are some instructions for running standalone builds yourself without depending on our service.

[2017-09-26 05:22] jiwokim commented on #27
Hi there.
I have a same ios build error
Build ID: 511ca3ab-27f8-4ffb-a858-e4abcffbbdf7

[exp] Checking if current build exists...
[exp] ============
[exp] Build Status
[exp] ============
[exp] iOS: There was an error with this build.

Can you check my error?

[2017-09-27 12:58] #70 closed

[2017-09-27 13:00] skasanibanyan opened #71 ""Illegal option: -jarfile" Error when trying to generate SHA1 certificate for Google API key android"
I am following the steps mentioned in the "building standalone apps" section of the Google authentication integration and I am stuck at the step to generate "SHA-1 certificate fingerprint" as per the link _[https://docs.expo.io/versions/latest/sdk/google.html#run-keytool--list--printcert--jarfile-growlerapk--grep-sha1--awk--print-2--where-growlerapk-is-the-name-of-the-apk-produced-in-step-1](https

[2017-09-28 18:12] dikaiosune commented on #69
Hi! Please check the issue template before posting issues on this repository.

This error is usually due to a failed download -- please double check your network connection when creating new projects -- we have to download the template project before you can get started.

[2017-09-28 18:12] #69 closed

[2017-09-28 22:20] quinlanj commented on #71
You most likely have to update your `keytool` binary. See
https://forums.expo.io/t/generate-androidstandaloneappclientid-help/3422/7

[2017-09-28 22:20] #71 closed

[2017-09-29 00:26] flieks commented on #60
i also have this problem now. I only needed an android native module. And now having problems getting IOS working (struggling with cocoapods errors in xcode)

[2017-10-04 20:26] aravandi commented on #27
I'm also seeing this error:
[exp] Build ID: 0770c4f7-7492-4c0e-85ac-5764653fb4b7

[exp] Checking if current build exists...

[exp] ============
[exp] Build Status
[exp] ============

[exp] iOS: There was an error with this build.

Could you check it for me too!

[2017-10-05 22:56] gegis opened #72 "Android: There was an error with this build."
Always fails to build...
[code]

Is there a way to at least debug it?

[2017-10-12 15:28] jengjeng commented on #36
I have fixed this issue by resizing&crop the app images/icons to square ratio.
(From [Expo Doc](https://docs.expo.io/versions/latest/guides/configuration.html#icon) that show we can't use an image as the icon above size 512x512 px.)

So, about the size of my images.
e.g.

[2017-10-18 13:22] fabiocastrodev commented on #27
We need your Apple ID/password to manage certificates and provisioning profiles
from your Apple Developer account.
? What's your Apple ID? xxxxxxxx
? Password? ********
? What is your Apple Team ID (you can find that on this page: https://developer
.apple.com/account/#/membership)? Personal Team
[exp] Validating Apple credentials...
[exp] Error validating credentials. You may need to clear them (w

[2017-10-18 13:24] fabiocastrodev opened #74 "Build iOS failure"
We need your Apple ID/password to manage certificates and provisioning profiles
from your Apple Developer account.
? What's your Apple ID? xxxxxxxx
? Password? ********
? What is your Apple Team ID (you can find that on this page: https://developer
.apple.com/account/#/membership)? Personal Team
[exp] Validating Apple credentials...
[exp] Error validating credentials. You may need to clear them (w

[2017-10-18 15:39] benben198805 commented on #27
Hey there
I have same issue. And already running with -c + revoking any certificates in my account.
request ID is 0e7c3560-b41a-11e7-be22-fde1a836be2f.

Full version:
Unable to validate credentials. Request ID 0e7c3560-b41a-11e7-be22-fde1a836be2f, message: Internal error occurred. Please try again in a few minutes or contact support.

[2017-10-18 15:42] WeslleyNasRocha opened #75 "Exp extremely slow"
`exp` commands are extremely slow, and constantly throws me this warning,
[code]

Running on windows 7 (x64)
Node v6.11.4
npm 3.10.10
exp 44.0.0

[2017-10-18 19:02] dikaiosune commented on #74
Hi! Per the issue template please post to our forums or the issue tracker at https://github.com/expo/expo

We're seeing this error from fastlane: `No teams available on the Developer Portal You must accept an invitation to a team for it to be available To learn more about teams and how to use them visit https://developer.apple.com/library/ios/documentation/IDEs/Conceptual/AppDistributionGuide/Mana

[2017-10-18 19:02] #74 closed

[2017-10-18 19:04] nikki93 commented on #75
We are maintaining all issues at https://github.com/expo/expo (common for all our tools) so please post there, as indicated in the issue template. Thank you. :)

[2017-10-18 19:04] #75 closed

[2017-10-18 19:04] nikki93 commented on #72
We are maintaining all issues at https://github.com/expo/expo (common for all our tools) so please post there, as indicated in the issue template. Thank you. :)

[2017-10-18 19:04] #72 closed

[2017-10-18 19:04] nikki93 commented on #66
We are maintaining all issues at https://github.com/expo/expo (common for all our tools) so please post there, as indicated in the issue template. Thank you. :)

[2017-10-18 19:04] #66 closed

[2017-10-19 16:28] Albinzr commented on #44
I'm also having same issue and if we are ejecting from expo... all the work you did with expo to make build faster is going to wast

[2017-10-19 17:18] simison commented on #44
I believe this is now in since SDK v19 and it's documented here:

https://docs.expo.io/versions/latest/guides/configuration.html#permissions

[2017-10-20 11:13] gopidon commented on #27
Its erring out again. Only while building for ios. Android goes through fine.

Error validating credentials. You may need to clear them (with `-c`) and try again.
[exp] Unable to validate credentials. Request ID 87bea480-b587-11e7-bbee-cf66195a3c9a, message: Internal error occurred. Please try again in a few minutes or contact support.

[2017-10-24 10:25] gopidon commented on #27
Hi, any update on this? I am still unable to generate the .ipa

[2017-10-24 13:57] HerbertLim commented on #36
As @jengjeng  said, unless icon's ratio is 1:1, build fails.
Thanks @jengjeng.
I succeeded iOS build by changing icon image to 1024x1024 px, which is too large for icon but that was the only square logo image I got at the moment.

[2017-10-26 11:54] clementino36 opened #77 "API Response Error: Not authorized"
I started getting this error message today as i tried to `exp build:ios` & `exp build:android` . I don't recall doing anything in particular except upgrading `exp` to 45.0.2.
I tried downgrading it and building again, same error.
I couldn't find the cause of this error anywhere. Any idea ?

Sorry for posting this issue here but I figured this was specifically an `exp` error...
![capture](https://u

[2017-10-26 14:36] clementino36 commented on #77
I guess this has something to do with https://forums.expo.io/t/2017-10-25-issues-with-logging-into-expo-developer-accounts/4236/9 .

I'll wait and see.

[2017-10-27 01:58] ide commented on #77
Hi - can you try logging out (`exp logout`) and logging back in (`exp login`)?

[2017-10-27 07:08] clementino36 commented on #77
I was able to login and build again, thank you :)

[2017-10-27 07:08] #77 closed

[2017-10-31 04:46] jakeols commented on #27
Having another issue - when going to update my build: Receiving this output. No request ID or anything.

[code]

[2017-10-31 08:11] ghalex opened #78 "iOS: There was an error with this build. Please try again"
I am trying to build my app on iOS but i get this:
[code]

My Build ID: bda0d29c-3a19-484d-b21b-cde359841a3f

How can I get more info about build error ?

[2017-10-31 08:26] ccheever commented on #78
Hi, here are the logs:
I'm not exactly sure what the problem is from glancing at them but maybe you'll notice something.

[code]

[2017-10-31 09:15] ghalex commented on #78
Hi @ccheever,

Thanks for posting the error. I have tried to search for something like:
`unable to build and sign IPA `

but could not found anything relevant other then
`Build->Clean and Restart Xcode.`

[2017-10-31 09:18] ccheever commented on #78
It's probably worth just trying again and seeing if it works a second time.

[2017-10-31 12:01] ghalex commented on #78
I have tried multiple times, this is my new build id:
Build ID: dd296c7b-2f20-4b17-b51b-c9639c09b9ca

[2017-10-31 21:20] delgiudices commented on #78
I'm having the same issue as well

[2017-11-01 13:52] tseck opened #79 "iOS: There was an error with this build"
Hi there,

I have an error with my build Build ID: 53107854-0cdd-40c5-bcc7-daef974cee49

´´´
[exp] Checking if current build exists...

[exp] ============
[exp] Build Status
[exp] ============

[exp] iOS: There was an error with this build.
´
I've tried everything

[2017-11-01 14:01] tseck commented on #79
my *package.json*:
[code]

[2017-11-01 14:08] tseck commented on #78
same here:
https://github.com/expo/exp/issues/79

[2017-11-01 16:49] cseelus opened #80 "API Response Error: Not authorized"
Since about yesterday, I can't make any new builds, it fails with:

![screen shot 2017-11-01 at 17 39 40](https://user-images.githubusercontent.com/3188392/32285786-ae52856e-bf2b-11e7-97eb-bc0696001e86.png)

`exp` does not even ask for my credentials, although the `-c` flag is used.

Versions tested are 45.0.2, then 45.1.0, no two factor auth is used.

Any other thing I could do to force `exp` to

[2017-11-01 16:50] skevy commented on #80
Hi @cseelus, please try re-logging in with `exp login` and see if that fixes your problem.

[2017-11-01 19:38] cseelus commented on #80
Thanks @skevy, that did the trick. May be helpful to add that hint to the error from above.

[2017-11-01 19:38] #80 closed

[2017-11-01 19:43] dikaiosune commented on #78
Hi everyone! If you're still having issues building can you please post to the forums? We aren't tracking issues on this repository anymore.

[2017-11-01 19:43] #78 closed

[2017-11-01 21:17] ide commented on #79
Looking through your logs your team ID looks like it could be invalid. This is supposed to be a non-human ID (mix of numbers and letters).

[2017-11-01 21:27] tseck commented on #79
Hi @ide,
Thank you for the reply.
How can I change this and why can’t I see the logs myself?

Regards

[2017-11-01 21:31] ide commented on #79
The team ID is specified when you run `exp build:ios` (see https://docs.expo.io/versions/latest/guides/building-standalone-apps.html#if-you-choose-to-build-for-ios). You might need to specify the `-c` flag to clear your credentials first.

 The logs are on Expo's build servers, they aren't forwarded to the client.

[2017-11-01 21:41] tseck commented on #79
Ok but this also means I always have to ask you guys which is more work for you to help with support.
I did clear the credentials with the -c flag and also deleted them from Apple developer to free slots for the expo build process.

[2017-11-01 21:43] tseck commented on #79
I Copy Pasted the team name from the developer page as requested by the expo cli.

[2017-11-01 21:45] ide commented on #79
The CLI should ask `What is your Apple Team ID (you can find that on this page:
https://developer.apple.com/account/#/membership)?` which is not your team name. The docs I linked above shows an example of a team ID (`XY1234567`), the value you want to type should look like that.

Yeah totally agree. We're working on making this better for everyone (developers and the Expo team, it's costly for eve

[2017-11-01 21:49] ide commented on #79
Small follow-up -- I've created an internal task to communicate the instructions more clearly and/or add some simple validation. Sorry about the long turnaround time.

[2017-11-01 21:49] tseck commented on #79
This should yield an error right away, putting in the wrong ID. Spent hours
on that.
Y not just something like *exp log* compared to git or so.
But thx anyway, only I don’t know if we can use expo at all since I found
out it still needs to connect to the internet on first load of the app to
fetch some metadata, but my project needs a full offline support.

Anyways, definitely a good project, keep

[2017-11-01 22:14] ide commented on #79
The project's code is embedded into standalone apps but other assets like images aren't (unless you encode them with base64 and put the data URIs in your JS). So depending on your use case, some Expo projects can be totally offline when built as standalone apps.

[2017-11-01 22:19] tseck commented on #79
I have to look into that tomorrow (EU here :)
Also we have to link the network info package, which is unfortunately not
part of expo yet.
Also the possibility to add own link packages as plugins to expo would be
great, but all things that are on your list I suppose :)

Regards

[2017-11-02 05:38] lhp-- commented on #27
same here !!!

[2017-11-02 08:10] Inlesco opened #81 "exp build:ios -c -> Unable to validate credentials. Message: Two-factor authentication isn't supported (yet -- stay tuned!)"
When trying to run `exp build:ios -c` and after entering the Apple id, password and Apple Team ID, I get this:

[code]
And so far, I haven't been able to find any hints on how exactly to solve this... Could you include some hints right in the console for each possible error code?

[2017-11-02 08:11] ide commented on #81
The issue is that you have two-factor authentication (ex: SMS code) enabled on your account and we don't support that right now.

[2017-11-02 08:14] Inlesco commented on #81
@ide Are there any plans to support it?

[2017-11-02 08:16] ide commented on #81
Yes, it's in the works but I don't have a time estimate. Hopefully before New Year's?

[2017-11-02 08:25] Inlesco commented on #81
@ide ok, thanks for the estimate.

In the meantime, are there any alternative solutions for this without having to disable 2-factor auth on one's Apple ID?

Is there any other way to build a standalone app and creating an Xcode project with Expo? Do I really need to `eject` as it's the only way at the moment?

[2017-11-02 10:33] Inlesco commented on #36
i'm getting the same generic `there was an error...` message.

Anybody know where to find the error logs of `exp build:ios -c` for debugging?

Also, i've tried to generate the required image assets for the iOS app following this - https://stackoverflow.com/a/40534324/7867018 - the images are generated in `root/ios/[appName]/images.xcassets/Appicon.appiconset/`, but... It did NOT solve the issue, s

[2017-11-02 15:10] ricardoshimoda commented on #27
Is there a way to clear apple credentials manually? I've been trying to run
exp build:ios -c

And it only repeats the same message - that the credentials are invalid and that I should try to use the option '-c'- as if "cleaning" the credentials isn't really working..

[2017-11-03 21:53] JonathanPorta commented on #81
@ide Do you know if app-specific passwords are supported?

[2017-11-03 21:54] ide commented on #81
No they are not -- only 2FA-less accounts are supported right now.

[2017-11-04 05:10] brentvatne commented on #27
@ricardoshimoda - if it says that then it's quite possible that the credentials you are supplying are actually invalid. another alternative is that your account requires two-factor authentication, which is not currently supported with the Expo builder (we are working on it, should be available shortly)

[2017-11-04 05:20] brentvatne commented on #36
@Inlesco - working on streaming logs for this now, let us know your build id and we can help you debug the issue. sorry for the hassle!

[2017-11-06 09:40] organicnz commented on #27
Can anyone help? I'm still getting this error.

[code]

[2017-11-06 23:58] brentvatne commented on #27
@organicnz - make sure you don't have the maximum number of push certificates on itunes connect

[2017-11-07 07:39] organicnz commented on #27
@brentvatne - I've already deleted them yesterday and got only created by Expo.

[2017-11-08 02:57] organicnz commented on #27
I've just renamed the Bundle ID in app.json and it looks working now.

[code]

[2017-11-10 07:10] ovieimara commented on #59
worked for me too!

[2017-11-13 13:21] FelipeBohnertPaetzold opened #82 "Focus on push notification"
I would like the push to appear on the screen at the moment it arrives on Android devices.
When the push is received, the device only alerts with sound and shows the icon in statusbar.

![exp](https://user-images.githubusercontent.com/15256199/32727672-8afdc44c-c864-11e7-8fd0-5cfc50d17ed5.gif)

Is there any way to present it this way?

![whatsapp](https://user-images.githubusercontent.com/15256199

[2017-11-13 16:41] #82 closed

[2017-11-16 16:51] hqro commented on #36
Works for me after resizing icons with 1:1 ratio.

[2017-11-16 17:09] francocorreasosa commented on #36
A plenty of possible errors have been described here. The important thing is that this should be explicit in the builder output. So we don't have to guess what can be wrong.

[2017-11-16 17:10] francocorreasosa commented on #79
Related to #36 ?

[2017-11-16 21:15] Inlesco commented on #36
@francocorreasosa exactly. And most of the errors mentioned here can even be caught before the actual build runs, you just need to run something, f.e., to gather all the paths of images in the repo, analyze them against the requirements (f.e., no images with alpha channel (no .png or similar), 1:1 image aspect ratio required, etc.).

I'm very surprised no solid solution has been produced for this.

[2017-11-16 21:43] terribleben commented on #36
@francocorreasosa and @Inlesco thanks for the feedback - we fully agree, and are internally working on (1) validating more of your project before the build, and (2) launching a way to view all build errors yourself. Sorry this is really annoying in the current state of affairs.

[2017-11-17 07:42] TunedMidja commented on #27
I'm getting this now (using the -c option and a P12 certificate):
[exp] Error validating credentials. You may need to clear them (with `-c`) and try again.
[exp] Unable to validate credentials. Request ID 25aa0200-cb6a-11e7-b70f-474aca5803bb, message: Internal error occurred. Please try again in a few minutes or contact support.

[2017-11-21 04:03] iprastha commented on #36
+1 for more detailed error cause.
For me the first ios build after updating my app always produces this issue, then second build with -c flag will resolve it.

[2017-11-22 16:28] alejomendoza opened #84 "Docs: How to import the `--release-channel` from expo?"
We would like to point to different api urls according to the release channel. Is there a way to import it in expo? Thanks!

[2017-11-22 23:56] dikaiosune commented on #84
Not yet, but stay tuned!

[2017-11-22 23:56] #84 closed

[2017-11-30 03:11] bhram opened #85 "[exp] Android: There was an error with this build. Please try again."
hi, after i build with : **exp build:android**

[code]

then when run **exp build:status** ,

[code]

this **app.json** file

[code]

why !??

[2017-11-30 05:42] saivyas commented on #85
same error here

[2017-11-30 05:49] bhram commented on #85
where error exactly !?

[2017-11-30 05:55] skevy commented on #85
This was an issue with a bad deploy. A fix is deployed -- please try again.

[2017-11-30 05:56] #85 closed

[2017-11-30 06:49] saivyas commented on #85
Yes working now. Thanks @ sky.

[2017-12-01 01:35] dikaiosune commented on #81
Hi everyone! As I commented on this other thread, this should now be supported if you pass the `--local-auth` flag to `exp build:ios`. See https://github.com/expo/expo/issues/160#issuecomment-348375652 for details, and please report any issues with the new flow over on expo/expo. We'll make it the default once we're sure it's working for everyone!

[2017-12-01 01:35] #81 closed

[2017-12-01 11:12] bhram opened #86 "fixed"
fixed

[2017-12-01 11:17] #86 closed

[2017-12-05 07:30] softnodelabs opened #87 "exp cli never finds my keystore to upload"
Hi!

I'm trying a standalone android build but when I select option 2 in the command line and fill in the path to my keystore, I keep getting the message "File does not exist". I tried both relative and absolute path.

My system: Windows 10
node v8.8.1
npm v5.4.2

I appreciate any help.

[2017-12-06 18:07] Tadotte opened #90 "Impossible to login Expo xde"
Hello all,
I downloaded and installed Expo xde but when I try to connect with github and with my login, he puts me this: EACCES: permission denied, open '/Users/Baloo/.expo/state.json'
I have already uninstalled and reinstalled several times and even deleted the .json but nothing makes it I always have the same error.
I am running on OS X 10.9.5.

[2017-12-06 19:39] dikaiosune commented on #90
Hi! As the issue template requests, please file issues against https://github.com/expo/expo.

I'd recommend making sure that your user has write permission to your home directory, perhaps by running something like `sudo chown -R Baloo:Baloo ~/.expo` (WARNING: this might not work, it might cause problems on your machine, and you should understand what chown does before running it as root).

[2017-12-06 19:39] #90 closed

[2017-12-06 21:12] Tadotte commented on #90
It's work !
it was sudo chmod -R 777 .expo/

Thank you very much for your help :D

2017-12-06 20:39 GMT+01:00 Adam Perry <notifications@github.com>:

[2017-12-08 23:13] Edward-Alozieuwa commented on #59
It doesnt work for me. Please is there no solution to this ngrok problem?

[2017-12-09 21:55] asela-wijesinghe opened #91 "Corrupt APK after build"
I tried building android apk from `exp build:android` all expo projects are built fine and running on the android device except for a one type of app (after checking for 5-6 hours) doesn't seem to work as expected. when i use `exp init ` and create a **project with tabs** and after i build it APK seems to throw error

but in all other occasions i created testing apps and they working fine in the d

[2017-12-11 00:29] Mifayo opened #92 "error in creating first project"
[exp] Downloading project files...
[exp] Extracting project files...
Process exited with non-zero code: 2
ERROR: Unexpected end of data : blank-23.0.0.tar

any help here ?

[2017-12-11 09:41] fson commented on #92
Hey! The previous version of exp had a bug where, if the download was interrupted, it stored the incomplete template package in cache. I think this is the error you are seeing.

Can you ensure you have the latest version of exp installed, clear the cache,
[code]
and then try again?

[2017-12-11 10:19] Mifayo commented on #92
it works thanks a lot <3

[2017-12-11 10:19] #92 closed

[2017-12-11 17:29] dikaiosune commented on #91
Hi! Per the issue template, can you please open this issue on https://github.com/expo/expo? It would also help us a lot if you could provide a reproduction we can use to diagnose what's happening here. Maybe a link to the project repository and the APK you built from it?

[2017-12-11 17:29] #91 closed

[2017-12-11 17:32] dikaiosune commented on #87
Hi, can you try with the latest version of exp? There was a small bug introduced by some cleanup code, but I believe the fix has been released now.

If updating exp doesn't fix it for you, please open an issue on https://github.com/expo/expo per the issue template.

[2017-12-11 17:32] #87 closed

[2017-12-11 17:47] asela-wijesinghe commented on #91
@dikaiosune yes i will refer you to the same error i did put in the expo and i will refer the resources. Thanks mate :)  expo #1094

[2017-12-13 09:32] GeekRishabh opened #93 "[Support] :exp cli on NPM v5.x"
Can you guys please support for exp cli on NPM v5.x . Its a pain every time to change NPM version or use expo XDE tool .as all task can't be done using XDE Please look into it .
I am sharing the error log below
[code]

[2017-12-13 19:01] dikaiosune commented on #93
Hi! This doesn't look like an npm 5 issue to me, although if it doesn't happen with yarn, then I guess that's your answer. Regardless, make sure your directory permissions for your global node_modules are sane (owned and writable by your user accounts). In terms of supporting npm 5, the change broke a lot of things, not all of which have been fixed in recent npm releases. We'll try to figure out w

[2017-12-13 19:01] #93 closed

[2017-12-14 23:06] trustfall opened #94 "[exp] Can't determine exponent directory"
[code]

this is happening on multiple machines, just trying to run `exp init` followed by `exp detach`

[2017-12-15 11:51] mauroporrasp commented on #94
I made it work issuing:
`EXPO_UNIVERSE_DIR=.expo EXPO_DEBUG=true exp detach`

[2017-12-15 16:01] digitaledge commented on #94
Same issue was reported here: https://github.com/expo/expo/issues/1113

[2017-12-16 07:01] artpi commented on #27
[code]

My account is valid, I cleaned out provisioning profiles and have 2factor enabled.
Now that I disabled 2fa works fine.

I hope it will start working with 2fa soon!
Otherwise - spectacular work!

[2017-12-19 01:20] terribleben commented on #94
Thanks for the report, we're tracking the fix [here](https://github.com/expo/expo/issues/1133).

[2017-12-19 01:20] #94 closed

[2017-12-20 00:39] dikaiosune commented on #27
@artpi you can try 2FA support using the `--local-auth` flag.

[2017-12-20 00:39] dikaiosune commented on #27
Actually, going to lock this issue now since we don't monitor this repo closely. If you're having issues with standalone builds, please post to the [forums](https://forums.expo.io). Thanks!

[2017-12-20 04:50] ToothpickFactory opened #95 "Android: There was an error with this build."
Error building Android.
Build ID: **62b9e145-357f-47d2-97c6-1c48a7948df6**

[exp] Checking if current build exists...

[exp] No currently active or previous builds for this project.
[exp] Starting build process...
[exp] Publishing...
[exp] Building iOS bundle
[exp] Building Android bundle
[exp] Analyzing assets
[exp] Uploading assets
[exp] No assets changed, skipped.
[exp] Uploading JavaScript bun

[2017-12-20 07:45] ide commented on #95
The build logs say:
[code]

It seems like there's some asset in your project that's not a PNG file that's expected to be one.  That's the extent of the error, it doesn't say what file it is but hopefully is a pointer in the right direction.

[2017-12-20 07:45] #95 closed